*{
    margin: 0;
    padding: 0;
}

.container_model{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.bord{
    border: 0px solid black;
}

.auto_card{
    /* width: 20%; */
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 15px;
    flex: 0 0 24%;
    & img{
        width: 100%;
        
    }

    & a{
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
        padding-bottom: 5px;
        font-size: 20px;
        font-weight: bold;
        margin-right: 15px;
        color: black;
        &:hover {
            background-size: 100% 2px;
        }
    }
    
}


.all_cards{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

